/* Import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --primary-color: #12ac8e;
    --primary-color-dark: #0d846c;
    --primary-color-light: #e9f7f7;
    --secondary-color: #fb923c;
    --text-dark: #333333;
    --text-light: #767268;
    --white: #ffffff;
    --max-width: 1200px;
}

/* Reset Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container Style */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section_header {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.btn {
    padding: 0.75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

img {
    width: 100%;
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    background-image: linear-gradient(to right, rgba(18, 172, 142, 0.9), rgba(18, 172, 142, 0.7)), url('./assets/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Nav Container style */
.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;

}

/* Nav Logo */
.nav_logo {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
}

.nav_logo span {
    color: var(--secondary-color);

}

.nav_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link a {
    padding: 0.5rem;
    color: var(--primary-color-light);
}

.link a:hover {
    color: var(--white);
}

/* Header Section Style */
.header_container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.header_content h1 {
    margin-bottom: 1rem;
    max-width: 800px;
    color: var(--white);
    font-size: 3.5rem;
    line-height: 4rem;
}

.header_content p {
    margin-bottom: 2rem;
    max-width: 600px;
    color: var(--white);
}

/* Book Now Form */
.header_form {
    width: 100%;
    max-width: 350px;
}

.header_form form {
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.header_form input {
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
}

.header_form input::placeholder {
    color: var(--primary-color);
}

.form_btn {
    background-color: var(--primary-color);
    transition: 0.3s;
}

.form_btn:hover {
    background-color: var(--primary-color-dark);
}

.header_form h4 {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
}

/* Service Header */
.service_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service_header_content p {
    max-width: 600px;
    color: var(--text-light);
}

.service_btn {
    padding: 0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
}

.service_btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

/* Service Grid */
.service_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.service_card {
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.service_card span {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    color: var(--primary-color);
    border-radius: 100%;
    transition: 0.3s;
}

.service_card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.service_card p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.service_card a {
    color: var(--primary-color);
}

.service_card a:hover {
    color: var(--primary-color-dark);
}

.service_card:hover span {
    color: var(--primary-color-light);
    background-color: var(--primary-color);
}

/* About Us */
.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.about_content p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

.about_image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

/* Choose Us */
.choose_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.choose_image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.choose_content p {
    color: var(--text-light);
}

.choose_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 80px auto;
    gap: 2rem;
}

.choose_grid span {
    color: var(--primary-color);
    font-size: 2.5rem;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

/* Special Doctors */
.doctor_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.doctor_header_content p {
    max-width: 600px;
    color: var(--text-light);
}

.doctor_nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.doctor_nav span {
    font-size: 1.5rem;
    padding: 5px 15px;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
    cursor: pointer;
}

/* Doctor Grid */
.doctor_grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.doctor_card {
    text-align: center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.doctor_image {
    position: relative;
    overflow: hidden;
}

.doctor_socials {
    position: absolute;
    left: 0;
    bottom: -4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 0.5s;
}

.doctor_socials span {
    display: inline-block;
    padding: 6px 12px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.doctor_socials span:hover {
    color: var(--primary-color);
}

.doctor_card:hover .doctor_socials {
    bottom: 2rem;
}

.doctor_card h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.doctor_card p {
    margin-bottom: 1rem;
    color: var(--text-light);
}

/* Footer Section */
.footer {
    background-color: var(--primary-color-light);
}

.footer_container {
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

.footer_col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

.footer_col h3 span {
    color: var(--secondary-color);
}

.footer_col p {
    color: var(--text-dark);
    cursor: pointer;
    margin-bottom: 1rem;
    transition: 0.3s;
}

.footer_col p:hover {
    color: var(--primary-color);
}

.footer_col h4 {
    margin-bottom: 1rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

.footer_col i {
    color: var(--primary-color);
}

.footer_bar {
    background-color: var(--primary-color);
}

.footer_bar_content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.footer_bar_content p {
    font-size: 0.8rem;
    color: var(--white);
}

.footer_socials {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: var(--white);
    cursor: pointer;
}

/* Responsive User Interface */
@media (max-width: 900px) {
    .service_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .about_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about_image {
        grid-area: 1/1/2/2;
    }

    .about_content {
        text-align: center;
    }

    .choose_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose_container {
        text-align: center;
    }

    .choose_grid {
        text-align: left;
    }

    .doctor_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .footer_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Max-width: 780px */
@media (max-width:780px) {
    .nav_links {
        display: none;
    }

    .header_container {
        flex-direction: column;
    }
}

/* Max-width: 600px Small Screen */
@media (max-width:600px) {
    .service_header {
        flex-direction: column;
        text-align: center;
    }

    .service_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .choose_grid {
        column-gap: 1rem;
    }

    .doctors_header {
        flex-direction: column;
        text-align: center;
    }

    .doctor_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_bar_content {
        flex-direction: column;
        gap: 1rem;
    }
}